.studyupheader{
    color: black;
    font-size: 500%;
    text-align: center;
    font-variant: small-caps;
}
.studyupblizz{
    text-align: center;
    font-variant: small-caps;
}

.smallcaps{
    font-variant: small-caps;
}

.alignc{
    text-align: center;
    align-items: center;
    list-style-position: inside;
}

.inputtext{
    box-sizing: border-box;
    margin: 4px 0;
    padding: 5px 5px;
    background-color:  gray;
    color:white;
    display:inline-block;
}


::placeholder{
    color:black;
}

.button1{
    background-color: gray;
    border: 5px black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    transition-duration: .5s;
    margin:4px;
}

.hr1{
    width:50%;
    text-align:center;
}

.button1:hover{
    background-color: rgba(0, 0, 0, 0.199);
    color: black;
}

#backgrad{
	height: 1500px;
	background-image: linear-gradient(#969494, #a3a9eb);
    overflow: auto;
}